body {
  height: 100%;
}

.loginMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 80px;
  font-size: 25px;
  font-weight: bold;
  background-color: green;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.login {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  background-color: green;
  color: white;
}
